<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <div class="buttons">
          <button class="button button-icon ion-navicon" menu-toggle="left" ng-hide="$exposeAside.active"></button>
        </div>
      </ion-nav-buttons>
	 
    </ion-nav-bar>
	
    <ion-nav-view name="mainContent" class="hide-tab"></ion-nav-view>
    
	
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large" width="270">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
	<div style="width: 100%; padding:10px 0; background: linear-gradient(#f3f3f3, #fff);" class="synctoolbar"  ng-click="vm.sync()">
		<div style="height:72px;width: 72px;text-align: center;margin:auto;"><i class="icon ion-ios-loop" ng-class="{ syncing: syncing}" style="font-size:72px; width:72px; height:72px; color:#333333; display:block"></i></div>
		<div style="text-align:center; font-size:18px">Synchronize</div>
		<div style="line-height:30px;font-size:12px; text-align: center"><span>Last Sync: {{vm.lastSync}}</span></div>
	</div>
	
	<!--<div style="background: #dddddd;  height: 45px;  width: 100%;  padding: 8px;" class="synctoolbar"  ng-click="vm.sync()">
		<div style="float:left;height:28px;margin-right: 10px;width: 49px;display: inline-block;text-align: center;border-right: 1px solid #aaaaaa;"><i class="icon ion-ios-loop" ng-class="{ syncing: syncing}" style="font-size:28px; width:28px; height:27px; color:#333333; display:inline-block"></i></div><div style="line-height:30px;font-size:12px;"><span>Last Sync: {{vm.lastSync}}</span></div>
	</div>-->
      <div class="list"><!--
        <div class="item item-icon-left" href="#" nav-clear style="color:#ccc; cursor:normal">
          <i class="icon ion-ios-home-outline"></i> Home
        </div>
        <a class="item item-icon-left" ui-sref="app.tabs.sync" menu-close>
          <i class="icon ion-ios-loop"></i> Sync Status
        </a>-->
        <a class="item item-icon-left" ui-sref="app.tabs.journals" menu-close>
          <i class="icon ion-ios-paper-outline"></i> Journals
        </a>
        <a class="item item-icon-left" ui-sref="app.tabs.alerts" href="#" menu-close>
          <i class="icon ion-android-warning"></i> Alerts <span class="badge badge-energized">{{vm.alertCount}}</span>
        </a>
        <a class="item item-icon-left" ui-sref="app.tabs.reminds" href="#" menu-close>
          <i class="icon ion-speakerphone"></i> Reminders <span class="badge badge-calm">{{vm.remindCount}}</span>
        </a>
        <a class="item item-icon-left" ui-sref="app.tabs.settings" menu-close>
          <i class="icon ion-ios-gear-outline"></i> Settings
        </a>
        <a class="item item-icon-left" ng-click="vm.logout()" menu-close>
          <i class="icon ion-ios-locked-outline"></i> Logout
        </a>
        <a ng-show="vm.isExitAvailable" class="item item-icon-left" ng-click="vm.exit()">
          <i class="icon ion-ios-close-empty"></i> Exit without Logout
        </a>
      </div>
    </ion-content>
	
  </ion-side-menu>
</ion-side-menus>
<div ng-show="isSyncRequired && syncDialog && !isCurrentPageJournalEntry"  style="position:absolute; bottom:0px; z-index:10; width:100%; padding: 0 10px;">
	<div style="position:relative">
	<div style="position:absolute; top:0; right:10px;">
	<button class="button button-icon icon ion-ios-close-empty" ng-click="vm.dismissDialog()" style="color:#fff"></button>
	</div>
	<div style="background: rgba(0,0,0,0.85); color:#fff; padding:2px 16px;">

	<h4 style="color:#fff;"><i class="icon ion-android-alert" style="font-size:17px; color:#fff;"></i> Synchronize pending</h4>
		<p>Device is not sync with server.</p>
	<button class="button button-small button-clear button-light" ng-click="vm.sync()" style="padding-left:0; padding-bottom:10px;">
		SYNC NOW
	</button>
	<button class="button button-small button-clear button-light" ng-click="vm.dismissDialog()" style="color: #888; margin-left:10px; padding-bottom:10px;">
		DISMISS
	</button>
	</div>
	</div>
</div>