*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

*/config/config.php
*/config/database.php

/journalimage/*
/journalimagenonp/*

!/journalimage/.htaccess
!/journalimagenonp/.htaccess
!.htaccess

!/gallery/i_move.php

Thumbs.db