<FilesMatch ".*\.(php|phps)$">
    order deny,allow
    deny from all
</FilesMatch>
<FilesMatch "(?i)\.(gif|jpe?g|png)$">
order allow,deny
allow from all
ForceType application/octet-stream
Header set Content-Disposition attachment
    ForceType none
    Header unset Content-Disposition
Header set X-Content-Type-Options nosniff
</FilesMatch>
